.doglist {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.add-dog {
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: black;
  color: white;
  padding-bottom: 6px;
  font-weight: bold;
}

.add-place {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}
