.newdogform {
  height: 650px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 30px;
}

.title {
  padding: 10px;
  box-shadow: 5px 10px;
  height: 40px;
  width: 300px;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: white;
  border: 1px white solid;
  padding-top: 15px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.namedog {
  color: white;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  font-size: 22px;

  margin-left: 10%;
  margin-right: 10%;
}

.fontsize {
  font-size: 27px;
}

.input-info {
  font-size: 27px;
}

.tablesize {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.infodog {
  font-size: 15px;
  display: flex;
}

.form {
  display: flex;
}

.input-link {
  font-size: 27px;
  margin-bottom: 50px;
  margin-top: 80px;
}

.button-continue {
  color: black !important;
  font-size: 18px;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid black !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  font-variant: small-caps;
  font-weight: 600;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.miniature-container {
  height: 222px;
  width: 222px;
  display: block;
  background-color: white;
  margin-top: 32px;
}

.approve {
  display: flex;
}

.miniature {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
