.category {
  margin-top: 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.category-image {
  height: 190px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 15px solid black;
  width: 190px;
  object-fit: cover;
}

.category-frame {
  border: 15px solid black;
  width: 400px;

  margin-top: 30px;
  margin-bottom: 30px;
  background-color: black;
}

.category-title {
  padding: 10px;
  box-shadow: 5px 10px;
  height: 60px;
  width: 300px;
  margin-top: 20px;
  background: inherit;
  color: inherit;
  font-variant: small-caps;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.category-description {
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-size: 22px;
  height: 60%;
  width: 100%;
}
